@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:wght@700&family=Open+Sans&display=swap');

*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}
.topo {
  background-color: #f9003d;
  width: 100%;
  height: 60px;
  
}
.menu{
  width: 1200px;
  height: 60px;
  /*background-color: #cccccc;*/
  margin:auto ;
  display: flex;
  justify-content: flex-end;
}
.menu ul{
    width: 600px;
    height: 60px;
    /*background-color: burlywood;*/
    list-style-type: none;/*remover o estilo da lista*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .menu a{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 19px;
    padding: 18px 50px;
 }
 .menu a:hover{
    background-color: #a259f7;
    text-decoration: underline;
 }
 .banner{
   width: 100%;
   height: 740px;
   background-image: url("../img/imagem-fundo-banner\ -\ Copia.jpg");
   background-size: cover;
   background-position: bottom;
}
.content{
  width: 1200px;
  height: 100%;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  margin: auto;
}
.alinhando-abaixo{
  display: flex;
  align-items: flex-end;
}
.banner-text{
     width: 560px;
     height: 550px;
    /*background-color: rgba(255, 255, 0, 0.39);*/
}
.banner-text h1{
     font-size: 96px;
     font-family: 'Bebas Neue', cursive;
     color: #FFF;
     border-bottom: solid 2px #fff00f;
     padding-bottom: 20px;
 }
.banner-text p{
  font-family: 'Courier Prime', monospace;
  font-size: 52px;
  text-transform: uppercase;
  color: #f9003d;
  margin-top: 40px;
  margin-bottom: 40px;
}
.banner-text span{
  margin-left: 15px;
}
/* Sobre*/
.sobre{
  width: 100%;
  height: 800px;
  background-color: #080324;
}
.sobre h2{
     font-family: 'Bebas Neue', cursive;
     color: #f9003d;
     font-size: 64px;
     padding-top: 60px;
     padding-bottom: 60px;
}
.artigo-sobre{
  display: flex;
  justify-content: space-between;
}
.artigo-sobre img{
  width: 500px;
}
.artigo-text-sobre {
  width: 600px;
  color: #FFF;
}
.artigo-text-sobre h3:nth-child(1){
  font-size: 24px;
  text-transform: uppercase;
}
.artigo-text-sobre h3:nth-child(2){
  color: #ffaf00;
  font-family:'Bebas Neue' , cursive;
  font-size: 64px;
}
.artigo-text-sobre p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
}
/* informações*/
.info{
  width: 100%;
  height: 200px;
  background-image: url("../img/imagem-fundo-info\ -\ Copia.jpg");
  background-size: cover;
  font-family: 'Courier Prime', monospace;
  text-transform: uppercase;
}
.info h4{
  color: #FFF;
  font-size: 24px;
}
.info p{
   width: 250px;
   color: #a259f7;
   font-size: 28px;
   border: solid 1px #a259f7;
   text-align: center;
   padding: 1em 0;
}
.info-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* endereco*/
.endereco{
  width: 100%;
  height: 500px;
  background-image: url("../img/imagem-fundo-ranking\ -\ Copia.jpg");
  background-size: cover;
  background-position: center;
}
.endereco h2{
  font-size: 64px;
  font-family: 'Bebas Neue', cursive;
  color: #ffaf00;
}
.end-text{
  width: 800px;
  height: 210px;
  background-color: #010010;
  border: solid 2px #340b65;
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
}
.end-text p{
  font-family: 'Courier Prime', monospace;
  font-size: 20px;
  color: #a259f7;
  margin-left: 20px;
}
.alinhamento-centro{
  display: flex;
  justify-content: center;
  align-items: center;
}
.end-text img{
  position: absolute;
  right: 20px;
  top: -80px;
}
.rodape{
  width: 100%;
  height: 50px;
  background-color: #f9003d;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}